ul{
    width: 50%;
    height: 40px;
    background-color: orange;
    list-style: none;
    border-radius: 17px;
    margin-left: 30px;
    background-clip: border-box;
}

a{
    text-decoration: none;
    color:red;
}

ul > li{
    float: left;
    width: 24%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

ul > li:nth-child(even){
    background-color: pink;
}

#top_back{
    height: 70px;
    
    background-color: greenyellow;
    margin-top: 10px;
}