<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.7.1.js" ></script>
</head>
<body>
    <div class="container">
        <a href="/home" >Home</a> | 
        <a href="/login">로그인</a> | 
        <a href="/company">회사정보</a> | 
        <a href="/location"style="background-color: pink;">회사위치</a>
    </div>

    <br>
    <img class="hero-image" src="/img/map.png" alt="">
</body>
</html>