/* 이곳은 css 문법만 적용 가능한 범위 */

/* 전체 선택자 = '*' */
*{
    font-weight: bold;
}

/* id 선택자 = '#' */
#id1{
    color: cornflowerblue;
    background-color: blanchedalmond;
}

/* class 선택자 = '.' */
.class2, .class3{
    color: chocolate;
    background-color: lemonchiffon;
}

