<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <a href="/home" style="background-color: pink;">Home</a> | 
        <a href="/login">로그인</a> | 
        <a href="/company">회사정보</a> | 
        <a href="/location">회사위치</a>
    </div>

    <br>
    <img class="hero-image" src="/img/ping.jpeg" alt="">
</body>
</html>